name: horse_notify

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  schedule:
     - cron: '0 9 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{secrets.GITHUB_TOKEN}}
      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install beautifulsoup4
          pip install requests
          pip install selenium
          pip install get-chrome-driver --upgrade
          pip install lxml
          pip install gspread
          pip install oauth2client
      - name: Translate secrets of base64 into json
        env:
          GCP_SECRET: ${{ secrets.GCP_SECRET }}
        run: |
          touch gcp_secret.json
          echo $GCP_SECRET | base64 --decode > gcp_secret.json
      - name: Run script
        env:
          LINE_NOTIFY_TOKEN: ${{ secrets.LINE_NOTIFY_TOKEN }}
        run: |
          python main.py
